* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #555;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 60, 63);
  color: white;
  overflow: hidden;
}

.title {
  font-size: 50px;
  margin: 10px;
}

.title2{
  font-size: 35px;
  text-align: end;
}

.cen h1{
  position: absolute;
  top:300px;
  left: 30%;
  margin: 0 auto;
  width: 700px;
  height: 50px;
  font-size: 110px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 225, 225);
}
.cen p{
  position: absolute;
  top:500px;
  left: 30%;
  margin: 0 auto;
  width: 700px;
  height: 50px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(202, 202, 212);
  font-style: italic;
  text-align: center;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 10px;
  font-size:22px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 25px;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 28px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

ul.sub-menu a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

ul.sub-menu{
  font-size:22px;
  position:absolute;
  display: none;
  color: white;
  box-shadow: 0 0 10px 0 #000;
  margin-left: 8px;
  margin-top: 2px;
  background-color: #333;
  z-index: 1;
}

.drop:hover .sub-menu {
  display: block;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.cen h1{
  position: absolute;
  top:300px;
  left: 30%;
  margin: 0 auto;
  width: 700px;
  height: 50px;
  font-size: 110px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 225, 225);
}
.cen p{
  position: absolute;
  left: 30%;
  margin: 0 auto;
  width: 700px;
  height: 50px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(202, 202, 212);
  font-style: italic;
  text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(110, 110, 110);
    color: white;
    text-align: center;
}
@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  .title {
    font-size: 40px;
  }
  .title2{
    font-size: 25px;
  }
  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: 10px 16px;
  }
  ul.sub-menu{
      width: 60%;
      margin-left: 70px;
    }
  .navbar-links.active {
      display: flex;
  }
  .img{
    display: none;
  }
  .cen h1{
    position: absolute;
    top:300px;
    left: 20%;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 70px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 225, 225);
  }
  .cen p{
    position: absolute;
    margin: 0 auto;
    left: 10%;
    width: 300px;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(202, 202, 212);
    font-style: italic;
    text-align: center;
  }
}